// colors
$brown-color: #d87d4a;
$black-one-color: #191919;
$silver-color: #a3a1a1;
$silver-light-color: #d2d1d1;
$brown-light-color: #fbaf85;
$white-color: #e2e2e2;
$black-color: #191919;
$background-color: #191919;
$background-btn-color: #4C4C4C;

// fonts
$main-ff: "Manrope", Arial, sans-serif;
